*, *::before, *::after {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin:0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'DotGothic16', sans-serif;
  background-color: #E4F9FF;
}

.world {
  overflow: hidden;
  position: relative;
}

#score {
  position: absolute;
  font-size: 12px;
  right: 5%;
  top: 5%;
}
.score {
  position: absolute;
  font-size: 12px;
  right: 10%;
  top: 5%;
  text-transform: uppercase;
}


.start-screen {
  position: absolute;
  font-size: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}


.hide {
  display: none;
}

.base {
  --left: 0;
  position: absolute;
  width: 300%;

  left: calc(var(--left) * 1%);
}

.hana {
  --bottom: 0;
  position: absolute;
  left: 5%;
  height: 25%;
  bottom: calc(var(--bottom) * 1%);
  z-index: 10;
}

.obstacle {
  --bottom: 0;
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 20%;
  bottom: calc(var(--bottom) * 1%);
}

.cake {
  --bottom: 0;
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 25%;
  bottom: calc(var(--bottom) * 1%);
}

.carrot {
--bottom: 0;
position: absolute;
left: calc(var(--left) * 1%);
height: 20%;
bottom: calc(var(--bottom) * 1%);
}

.bonus {
  --top: 20;
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 10%;
  top: calc(var(--top) * 1%);
}


